.listContainer {
    background: #fff;
    padding: 2%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reposList {
    display: flex;
    cursor: pointer;
    overflow: scroll;
    box-sizing: border-box;
    /* position: relative; */
    /* top: 250px; */

    /* background: #fff;
    padding: 2%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px; */
}
.scrollArrows {
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .reposList {
        height: 250px;
    }
}