.spotlight {
    max-height: 70vh;
}

.spotlightContent {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid fuchsia;
}
.repoHighlight {
    display: flex;
    flex: 0.25;
    align-items: center;
    justify-content: center;
}
.repoContainer {
 border-radius: 20px;
 overflow: hidden;
 display: flex;
 margin-right: 20px;
}
.repoDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.75;
}
.selectedRepo {
    object-fit: contain;
    max-width: min(30vw, 40vh);
    max-height: 30vw;
}

.title {
    font-size: 65px;
    font-weight: 800;
}
.itemDescription{
    font-size: 30px;
    align-self: center;
}

.owner {
    display: flex;
    margin: 10px 0;
    height: 50px;
}
.owner > div {
    margin: 0 5px;
}
.ownerImageContainer {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-radius: 50px;
    overflow: hidden;
    /* object-fit: scale-down; */
    /* object-fit: contain; */
}
.ownerImageContainer > img {
    height: 100%;
    width: 100%;
}
.ownerDetails {
    display: flex;
    align-self: center;
    flex: 1;
}
.ownerNameAndHandle {
    flex: 1;
}